#partnership-team {
	background: $brand-light-yellow;
	text-align: center;
	.partnership-team-grid {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.partnership-team__item {
			width: 20%;
			.partnership-team__item-image {
				width: 200px;
				height: 200px;
				border-radius: 50%;
				margin: auto;
			}

			img {
				width: 100%;
			}

			.partnership-team__item-content {
				p {
					font-size: $font-size-btn;
				}

				p:first-child {
					font-weight: $font-bold;
				}
			}
		}
	}
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	#partnership-team {
		.partnership-team-grid {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.partnership-team__item {
				width: 50%;
				margin: auto;
			}
		}
	}
}
