// colors
$brand-blue: #010737;
$brand-red: #c14742;
$brand-light-red: #fff3f3;
$brand-green: #4e766d;
$brand-light-green: #5c7c75;
$brand-blue-gray: #555a8c;
$brand-light-blue: #eaeeed;
$brand-white: #f6f7fb;
$brand-purple: #170d2d;
$brand-light-purple: #2a3071;
$brand-yellow: #d2ab6f;
$brand-light-yellow: #f1e5d5;
$brand-light-gray: #a5a5a5;
$brand-dark-gray: #2f2f2f;
$brand-med-gray: #656565;
$brand-reg-gray: #4a4a4a;
