@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "mixins";
@import "colors";
@import "fonts";
@import "buttons";
@import "pagination";
@import "categories";
@import "homepage";
@import "footer";
@import "nav";
@import "show";
@import "card";
@import "show-detail";
@import "detail";
@import "news";
@import "news-detail";
@import "about";
@import "careers";
@import "careers-detail";
@import "contact";

/* Global */
h1,
h2 {
	font-family: $primary-font;
	color: $brand-blue;
}

p,
a {
	font-family: $secondary-font;
	color: $brand-blue-gray;
	line-height: $line-height;
}

#logo img {
	width: 75px;
}

/* Wrappers */

#hero-bg {
	background: $brand-light-blue;
}
