/* Font Family*/
/* Font Weights */
/* Line Heights */
/* Font Sizes */
/* Font Media Queries */
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  button {
    font-size: 16px;
  }
}
/* Pill Buttons */
.pill-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #4e766d;
  color: #f6f7fb;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
}

.pill-btn:hover {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #4e766d;
  color: #f6f7fb;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
  font-weight: 700;
  background: #5c7c75;
}

/* Arrow Buttons */
.arrow-btn {
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #010737;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
}

.arrow-btn:hover {
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #010737;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
  background: transparent;
  color: #010737;
}

/* Card Button */
.card-btn {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #010737;
  font-weight: 700;
  border: none;
  border-radius: 10px;
}

.card-btn:hover {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #010737;
  font-weight: 700;
  border: none;
  border-radius: 10px;
}

/* Show Pagination Button */
.show-pagination-btn {
  height: 50px;
  width: 120px;
  background: transparent;
  border: 1px solid #4e766d;
  color: #4e766d;
  border-radius: 10px;
}

.show-pagination-btn:hover {
  height: 50px;
  width: 120px;
  background: transparent;
  border: 1px solid #4e766d;
  color: #4e766d;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: space-around;
}
.pagination .pagination--previous,
.pagination .pagination--next {
  height: 50px;
  width: 120px;
  background: transparent;
  border: 1px solid #4e766d;
  color: #4e766d;
  border-radius: 10px;
}
.pagination .pagination--previous img {
  padding-right: 10px;
}
.pagination .pagination--next img {
  padding-left: 10px;
}
.pagination ul {
  display: flex;
  padding-left: 0;
}
.pagination ul li {
  height: 50px;
  width: 120px;
  background: transparent;
  border: 1px solid #4e766d;
  color: #4e766d;
  border-radius: 10px;
  margin-right: 10px;
  list-style: none;
  width: 50px;
  height: 50px;
  padding: 15px;
  text-align: center;
}
.pagination ul li:last-child {
  margin-right: 0;
}
.pagination ul li:hover {
  background: #4e766d;
  color: white;
}

/* Post Category Colors */
/* Hero */
#hero .hero__title--highlight {
  color: #c14742;
}
#hero .hero__image {
  position: relative;
}
#hero .hero__image .hero__image-img {
  width: 100%;
  position: relative;
  top: -100px;
}

/* Features */
#features .feature__image img {
  width: 100%;
  position: relative;
}
#features .feature__bio {
  display: flex;
}
#features .feature__bio .feature__bioName {
  font-weight: 700;
  margin-bottom: 0;
}
#features .feature__content-caption {
  text-transform: uppercase;
  color: #170d2d;
  font-weight: 700;
  opacity: 0.3;
  letter-spacing: 10px;
}

/* Latest Podcast */
#latest-podcast {
  background: #eaeeed;
}
#latest-podcast .latest-podcast__header {
  display: flex;
  justify-content: space-between;
}
#latest-podcast .latest-podcast__header .pagination__arrow__previous,
#latest-podcast .latest-podcast__header .pagination__arrow__next {
  cursor: pointer;
}

/* Slider */
#slider {
  display: flex;
  flex-wrap: nowrap;
}
#slider .slider__slide {
  position: relative;
  margin-right: 20px;
}
#slider .slider__slide .slider__slide-caption {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
}
#slider .slider__slide .slider__slide-caption .slider__slide-caption-meta {
  color: #f6f7fb;
  z-index: 99;
}
#slider .slider__slide .slider__slide-caption .slider__slide-caption-meta .slider__slide-caption-title {
  font-weight: 700;
}
#slider .slider__slide-caption-play,
#slider .slide__slide-marker {
  z-index: 99;
}
#slider .slider__slide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
  background: black;
  background: linear-gradient(0deg, black 21%, rgba(0, 0, 0, 0) 100%);
}
#slider .slider__slide:last-child {
  padding-right: 0px;
}
#slider .slider__markers {
  width: 100%;
  justify-content: center;
}

/* Partners*/
#partners .partner__logos ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

/* Media Queries */
@media (max-width: 767.98px) {
  /* Hero */
  #hero .row {
    flex-flow: column-reverse;
  }
  #hero .hero__image .hero__image-img {
    width: 100%;
    position: relative;
    top: 0;
  }

  /* Features */
  #features .feature-1 {
    flex-direction: column-reverse;
  }
  #features .feature__bio {
    display: flex;
  }
  #features .feature__bio .feature__bioName {
    font-weight: 700;
    margin-bottom: 0;
  }
  #features .feature__content-caption {
    text-transform: uppercase;
    color: #170d2d;
    font-weight: 700;
    opacity: 0.3;
    letter-spacing: 10px;
  }

  /* Partners*/
  #partners .partner__logos ul {
    padding-left: 0;
    display: block;
  }
  #partners .partner__logos ul li {
    padding-bottom: 20px;
  }
}
/* Footer */
#footer {
  color: #a5a5a5;
  background: #2f2f2f;
}
#footer p {
  color: #a5a5a5;
}
#footer .footer__social-links ul {
  margin-bottom: 0;
  background: #2f2f2f;
}
#footer .footer__menu ul {
  display: flex;
  justify-content: flex-end;
}
#footer .footer__menu ul li {
  list-style: none;
  padding-right: 30px;
}
#footer .footer__menu ul li:last-child {
  padding-right: 0;
}

#footer__util {
  display: flex;
  background: #4a4a4a;
  color: #f6f7fb;
  font-size: 14px;
}
#footer__util p {
  font-size: 14px;
  color: #f6f7fb;
  margin-bottom: 0;
}
#footer__util .footer__util-social-links ul {
  display: flex;
  margin-bottom: 0;
  justify-content: flex-end;
}
#footer__util .footer__util-social-links ul li {
  list-style: none;
  padding-right: 30px;
}
#footer__util .footer__util-social-links ul li:last-child {
  padding-right: 0;
}

@media (max-width: 767.98px) {
  #footer .footer__menu ul {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
  }

  #footer__util .footer__util-caption {
    padding-bottom: 10px;
  }
  #footer__util .footer__util-social-links ul {
    justify-content: flex-start;
    padding-left: 0;
  }
}
/* Navigation */
nav {
  justify-content: space-between;
}
nav .nav .nav-item .nav-link {
  color: #555a8c;
}

/* Toggle */
#show .show-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#show .show-grid__item {
  width: 32%;
  margin-bottom: 20px;
}
#show .show__filter {
  display: flex;
  align-items: end;
}
#show .show__filter p {
  margin-right: 40px;
  font-weight: 700;
}
#show .show__filter .show__toggle {
  background: #f6f7fb;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 50px;
}
#show .show__filter .show__toggle p {
  font-weight: 700;
}
#show .show__filter .show__toggle .btn {
  color: #a5a5a5;
}
#show .show__filter .show__toggle .active {
  background: #2a3071;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
}

@media (max-width: 991.98px) {
  #show .show-grid__item {
    width: 49%;
    margin-bottom: 15px;
  }
}
@media (max-width: 767.98px) {
  #show .show-grid__item {
    width: 100%;
    margin-bottom: 15px;
  }
}
/* Card */
#card {
  flex-basis: 100%;
}
#card .card__item {
  position: relative;
  width: 100%;
  margin-right: 20px;
}
#card .card__item > img {
  width: 100%;
}
#card .card__item .card__item-caption {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
#card .card__item .card__item-caption .card__item-caption-meta {
  color: #f6f7fb;
  z-index: 99;
}
#card .card__item .card__item-caption .card__item-caption-meta .card__item-caption-title {
  font-weight: 700;
}
#card .card__item-caption-detail,
#card .card__item-marker {
  z-index: 99;
}
#card .card__item-caption-detail {
  width: 70px;
  height: 50px;
}
#card .card__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
  background: black;
  background: linear-gradient(0deg, black 21%, rgba(0, 0, 0, 0) 100%);
}
#card .card__item:last-child {
  padding-right: 0px;
}
#card .card__markers {
  width: 100%;
  justify-content: center;
}
#card .card-marker {
  z-index: 99;
}

.hero-bg {
  background: url("../img/show-detail-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.show-detail-contact {
  background: #f1e5d5;
}
.show-detail-contact p {
  margin-bottom: 0;
}

.audio-player .audio-player__metadata {
  display: flex;
}
.audio-player .audio-player__metadata .audio-player__metadata-text :first-child {
  font-weight: 700;
}

.show-detail-contact__metadata {
  display: flex;
  align-items: center;
}
.show-detail-contact__metadata .show-detail-contact__info {
  margin-left: 20px;
}
.show-detail-contact__metadata .show-detail-contact__info .show-detail-contact__name {
  font-weight: 700;
}
.show-detail-contact__metadata .show-detail-contact__info .show-detail-contact__email-icon img {
  margin-right: 10px;
}

#detail {
  min-height: 800px;
  height: 800px;
}
#detail .detail-hero {
  display: flex;
}
#detail p {
  margin-bottom: 0;
}
#detail .detail-hero__social {
  padding: 30px 0 30px 0;
}
#detail .detail-hero__social img {
  padding-right: 10px;
}

#news-bg {
  background: rgba(239, 241, 255, 0.5);
}

#news {
  /* Sidebar */
}
#news .news__posts {
  display: flex;
  flex-direction: column;
}
#news .news__posts .news__post {
  align-items: center;
  background: white;
}
#news .news__posts .news__post .news__post-content {
  /* Category Label Colors */
}
#news .news__posts .news__post .news__post-content h3 {
  font-family: "Poppins", sans-serif;
  color: #010737;
}
#news .news__posts .news__post .news__post-content .news__post-content-category {
  padding: 10px;
  color: white;
  display: inline;
  border-radius: 5px;
  margin-bottom: 20px;
}
#news .news__posts .news__post .news__post-content .news {
  background: #c14742;
}
#news .news__posts .news__post .news__post-content .podcasts-tips {
  background: #4e766d;
}
#news .news__posts .news__post .news__post-content .podcasts-tips2 {
  background: #010737;
}
#news .news__posts .news__post .news__post-content-metadata {
  font-weight: 700;
}
#news .news__posts .news__post .news__post-content-metadata span {
  color: #010737;
}
#news .news__sidebar .news__sidebar-recent-post {
  align-items: center;
}
#news .news__sidebar .news__sidebar-recent-post .news__sidebar-recent-post-image img {
  width: 100%;
  border-radius: 10px;
}
#news .news__sidebar .news__sidebar-recent-post .news__sidebar-recent-post-content {
  font-weight: 700;
}
#news .news__sidebar .news__sidebar-category-list ul {
  padding-left: 0;
}
#news .news__sidebar .news__sidebar-category-list .news__sidebar-category-item {
  list-style: none;
  padding-bottom: 20px;
  font-weight: 700;
}

/* Global */
h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #010737;
}

p,
a {
  font-family: "Open Sans", sans-serif;
  color: #555a8c;
  line-height: 1.875rem;
}

#logo img {
  width: 75px;
}

/* Wrappers */
#hero-bg {
  background: #eaeeed;
}

/*# sourceMappingURL=main.css.map */
